# Created by .ignore support plugin (hsz.mobi)
flighttracker/config.py
.idea
__pycache__/
/opensky_network_docs.txt
/gitflow-installer.sh
/tasks.py
/celerybeat-schedule.db
/gitflow/
/flighttracker/celerybeat-schedule.db
/flighttracker/.mypy_cache/
/flighttracker/log/log.log
/venv/
/flighttracker/log.log
/flighttracker/celery_log.log
