# Created by .ignore support plugin (hsz.mobi)
flighttracker/config.py
.idea
__pycache__/
/opensky_network_docs.txt
/gitflow-installer.sh
/gitflow/
/flighttracker/.mypy_cache/
/venv/
/beat/
/logs/
/config/config.yaml
