<!doctype html>
<head>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Cambay' rel='stylesheet'>
    <title>MyFly</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://kit.fontawesome.com/2ddda9be5b.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="bird">
            <i class="fas fa-kiwi-bird fa-2x"></i>
        </div>
        <h1>
            <a class="elements" href="{{  url_for('.index') }}">MyFly</a>
        </h1>
        <div class="item">
            <a class="elements" href="{{  url_for('.about') }}">About</a>
        </div>
    </div>
    <div>
        <br>
        <img class="myfly" src="{{ url_for('static', filename='myfly_mini.png') }}" alt="MyFly">
        <h2 class="subtitle">About the project</h2>
        <div class="plain-text">
            MyFly is a real-time open-source air traffic tracker.
            It uses <a class="elements" href="https://opensky-network.org/apidoc/rest.html">OpenSky Network API</a> for retrieving
            information about aircraft location.
        </div>
        <div class="plain-text">
            <p>As soon as a message of an airplane arrives at servers, OpenSky Network creates a record
                for the aircraft – the so-called <b>state vector</b>. This state vector represents
                a summary of all tracking information at a certain point in time,
                including aircraft identity (ICAO address + callsign),
                time information (Unix timestamps), and spatial information (position, velocity, heading, …).</p>
            <p>All vectors represent the state of a vehicle with the interval [time−1, time].
                If OpenSky doesn't receive any position or velocity update
                for 15 seconds, the state vector is considered obsolete and
                the API won’t return any state vector for the respective airplane.</p>
            <br>
            <a class="elements" href="https://github.com/tunalagoona/flight-tracker">Project on GitHub</a>
            <br>
        </div>
    </div>
</body>
